<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :secret %>
    <%= form.check_box :secret %>
  </div>

  <div class="field">
    <%#= form.label :category_id %>
    <div><strong>Category</strong></div>
    <div>
      <%= form.select :category_id,
        options_from_collection_for_select(Category.where(user_id: entry.user_id), :id, :name),
        {}, { class: "" }
      %>
    </div>
    <div>
      <%= link_to "Add Category", new_category_path %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
