<p id="notice"><%= notice %></p>

<h4><%= @entry.title %></h4>

<br></br>

<div>
<!-- 
  <p><pre><%= @entry.body %></pre></p>
-->
  <pre><%= @entry.body %></pre>
</div>

<br></br>

<div style=" font-size: 12pt ">

  <div>
    <strong>Secret:</strong>
    <%= @entry.secret %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= @entry.category.name %>
  </div>

  <div>
    <strong>User:</strong>
    <%= @entry.user.email %>
  </div>

</div>

<br></br>

<div>
  <%= link_to 'Edit', edit_entry_path(@entry) %> |
  <%= link_to 'Back', entries_path %>
</div>
